<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 引入 Vant 的样式表 -->
    <link rel="stylesheet" href="/static/vant.min.css" />

    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="/static/vue3.min.js"></script>
    <script src="/static/vant.min.js"></script>
    <script src="/static/axios.min.js"></script>

    <!-- 使用 meta 标签设置移动端的显示参数，禁止缩放 -->
    <meta charset="UTF-8" name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" />
    <title>Python Libs Dependency Graph</title>
    <style>
	    a{text-decoration:none}
		a:hover{color:blue,text-decoration:none}
		a:visited{color:black,text-decoration:none}
		a:link{color:black,text-decoration:none}
		a:active{color:black,text-decoration:none}
	</style>
    <style>
	    .node {
		    stroke: #fff;
			stroke-width: 1px;
			opacity: 0.7;
		}
		.link {
			stroke: #999;
			stroke-opacity: .7;
		}

		.tooltip{
		    position: absolute;
			width: 240px;
			height: auto;
			font-family: 微软雅黑;
			font-size: 16px;
			text-align: left;
			color: black;
			border-width: 1px solid black;
			background-color: 7FFF00;
			border-radius: 3px;
		}
		.tooltip:after{
			content: '';
			position: absolute;
			bottom: 100%;
			left: 20%;
			margin-left: -3px;
			width: 0;
			height: 0;
			border-bottom: 12px solid black;
			border-right: 12px solid transparent;
			border-left: 12px solid transparent;
		}
        .button-container {
            margin-top: 10px;
            display: flex;
            align-items: start;
        }
        .van-button {
            margin-left: 10px;
        }
        #search {
            margin-top: 10px;
        }
        .common-row {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
	</style>
</head>
<body>

<script src="static/d3.v7.min.js"></script>
<div id="app" class="van-hairline--surround">
    <!-- 顶部导航栏 -->
    <van-row>
        <van-col span="2">
            <van-nav-bar title="PyVIS"> </van-nav-bar>
        </van-col>
        <van-col span="20">
            <van-nav-bar title="Python Module Visualization"></van-nav-bar>
        </van-col>
        <van-col span="2">
            <van-nav-bar title="@CUC"></van-nav-bar>
        </van-col>
    </van-row>

    <van-row>
        <van-col offset="0" span="4" class="van-hairline--surround">
            <van-row id="search">
                <van-col offset="0" span="24">
                    <van-field v-model="keyword" placeholder="Module Name">
                         <template #button>
                            <van-button class="van-haptics-feedback" @click="search()" type="primary">Search</van-button>
                        </template>
                    </van-field>
                </van-col>
            </van-row>

            <van-row>
                <van-col span="24">
                    <van-cell-group inset>
                        <van-cell v-for="item in result" :title="item.name" :value="item.file" :label="item.layer" :clickable="true" @click="show(item[1])"></van-cell>
                        <van-back-top></van-back-top>
                    </van-cell-group>
                </van-col>
            </van-row>

            <van-row>
                <div id="bpp">
                    <div class="button-container">
                        <van-button round type="danger":loading="loading1" loading-type="spinner" onclick="downloadPhoto()" @click="downloadPhoto1()">
                            <van-icon name="down" >下载svg</van-icon>
                        </van-button>
                        <van-button round type="primary":loading="loading2" loading-type="spinner" onclick="downloadPhoto('png')" @click="downloadPhoto2()">
                            <van-icon name="down" >下载png</van-icon>
                        </van-button>
                    </div>
                </div>
            </van-row>

            <van-row class="common-row" style="height:40%">
                <van-col span="12">
                    <van-button class="van-haptics-feedback" @click="showLocal()" type="primary">Local PyViz</van-button>
                </van-col>
                <van-col span="12">
                    <van-button class="van-haptics-feedback" @click="showVirtual()" type="primary">Virtual PyViz</van-button>
                </van-col>
            </van-row>

            <van-row v-if="showLocalOptions" class="common-row">
                <van-col span="24">
                    <van-radio-group v-model="localValue">
                        <van-cell-group inset>
                            <van-cell v-for="(path, index) in localPath" :key="index" clickable @click="select()"
                                      style="display: flex; justify-content: space-between; align-items: center;
                                      overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                <div style="flex: 1; text-align: left;">{{ path }}</div>
                                <template #right-icon>
                                    <van-radio :name="index" />
                                </template>
                            </van-cell>
                        </van-cell-group>
                    </van-radio-group>
                </van-col>
            </van-row>

            <van-row v-if="showVirtualField" class="common-row">
                <van-col span="24">
                    <van-field v-model="virtualValue" placeholder="Virtual Environment Path">
                        <template #button>
                            <van-button class="van-haptics-feedback" @click="confirm()" type="primary">Confirm</van-button>
                        </template>
                    </van-field>
                </van-col>
            </van-row>

            <van-row id="search">
                <van-col offset="0" span="24">
                    <van-field v-model="localKeyword" placeholder="Local Module Name">
                         <template #button>
                            <van-button class="van-haptics-feedback" @click="localSearch()" type="primary">Search</van-button>
                        </template>
                    </van-field>
                </van-col>
            </van-row>

        </van-col>

        <van-col span="20">
            <div id="svgbox">
                <svg id="net" width="100%" height="100%"></svg>
            </div>
            <div id="svgdataurl" style="display: none;"></div>
            <canvas style="display:none"></canvas>
        </van-col>
    </van-row>
</div>
<script>
	// vue实例绑定在DOM元素上
	new Vue({
	  el: '#app .van-hairline--surround #bpp',
	  data: {
		loading1: false,
		loading2: false,
	  },
	  methods: {
		downloadPhoto1() {
		this.loading1 = true;
		setTimeout(() => {
			this.loading1 = false;
      },500);
    },
		downloadPhoto2() {
		this.loading2 = true;
		setTimeout(() => {
			this.loading2 = false;
      },500);
    }
	},
	});
</script>
<script>
    function downloadPhoto(form = "svg") {
		// 导出最基础的svg
		var html = d3.select("svg")
					.attr("version", 1.1)
					.attr("xmlns", "http://www.w3.org/2000/svg")
					.attr("id", "svgdemo")
					.node().parentNode.innerHTML;
		console.log(html);
		var imgsrc = 'data:image/svg+xml;base64,' + window.btoa(unescape(encodeURIComponent(html)));
		// 从 String 对象中创建一个 base-64 编码的 ASCII 字符串，其中字符串中的每个字符都被视为一个二进制数据字节。
		console.log(imgsrc);
		var image = new Image;
		image.src = imgsrc;
		if (form === "png") {
				var svg = d3.select("#svgbox").node()
				var img = '<img src="' + imgsrc + '">';
				d3.select("#svgdataurl").html(img);
				var boxWidth = svg.offsetWidth
				var boxHeight = svg.offsetHeight
				var canvas = document.querySelector("canvas");
				var context = canvas.getContext("2d");
				canvas.height = boxHeight; //canvas高度变化时清空画布
				canvas.width = boxWidth;
				image.onload = function () {
					context.drawImage(image, 0, 0);
					var canvasdata = canvas.toDataURL("image/png");
					var pngimg = '<img src="' + canvasdata + '">';
					d3.select("#pngdataurl").html(pngimg);
					var photo = document.createElement("a");
					photo.download = "直方图.png";
					photo.href = canvasdata;
					document.body.appendChild(photo);
					photo.click();
				}
		}else{
				console.log(form);
				image.onload = function (){
					var photo = document.createElement("a");
					photo.download = "直方图.svg";
					photo.href = imgsrc;
					document.body.appendChild(photo);
					photo.click();
				}
		}
		};

</script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                keyword: '',
                result: [],
                //show_vocab: false,
                //vocab: ''
                nodes: '',
                links: '',
                localPath: [],
                showLocalOptions: false,
                localValue: null,
                virtualPath: '',
                showVirtualField: false,
                virtualValue: '',
                userPath: '',
                localKeyword: '',

            };
        },
        methods: {
            search() {
                var that = this;
                /*
                fetch("/module?wanted=" + this.keyword)
                    .then(function(resp) {
                        if (resp.ok) {
                            console.log(resp);
                            console.log(resp.url);
                            this.drawGraph(resp.url);
                            return resp.json()
                        }
                        else throw new Error('Server Error!');
                    })
                    .then(function(data) {
                        console.log(data["nodes"]);
                        console.log(data["links"]);
                        that.result = data["nodes"];
                        //console.log(that.result);
                    })
                    .catch(function (error) {
                        that.result = [];
                    });
                    */
                axios.get("http://127.0.0.1:5006/module?wanted=" + this.keyword).then(res=>{
                     console.log(res.data);
                     console.log(res.data.nodes);
                     this.drawGraph(res.data);
                });
            },

            localSearch() {
                var that = this;
                axios.get("http://127.0.0.1:5006/localModule?wanted=" + this.localKeyword).then(res=>{
                     this.drawGraph(res.data);
                });
            },

            drawGraph(graph){
                var width=(window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth)*0.95;
		        var height=(window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight)*1.2;

			    var color = d3.schemeCategory10;

			    var forceSimulation = d3.forceSimulation()
						            .force("link",d3.forceLink())
						            .force("charge",d3.forceManyBody().strength(-100))
						            .force("center",d3.forceCenter(width/2,height/2));

			    var svg = d3.select("#net")
				        .attr("width", width*0.85)
				        .attr("height", height);
				d3.select('svg').selectAll('*').remove();
                module="pylibs.json"
                jsonfile="static/netjson/"+module;

                var nodes=graph.nodes;
                var links=graph.links;
				forceSimulation.nodes(nodes)
    		                   .on("tick");
    	          //links
    	        forceSimulation.force("link")
    		                     .links(links)
    		                     .distance(40);

                for (var i=0;i<nodes.length;i++){
                        var sum=0;
                        for(var j=0;j<links.length;j++){
                            if ((links[j].source.index==i)||(links[j].target.index==i))
                            //if (graph.links[j].target.index==i)
                                sum=sum+1;
                        }
                        nodes[i].weight=sum;
                }

				var link = svg.selectAll(".link")
					  .data(links)
					  .enter()
					  .append("line")
					  .attr("class", "link")
					  .style("stroke-width", 1);

				var node = svg.selectAll(".node")
                          .data(nodes)
                          .enter()
                          .append("a")
                          /*
                          .attr("xlint:href",function(d){
                                    axios.get("http://127.0.0.1:5006/module?wanted=" + d.name).then(res=>{
                                         console.log(res.data);
                                         console.log(res.data.nodes);
                                         this.drawGraph(res.data);
                                    });
									//return "http://127.0.0.1:5006/module?wanted="+d.name;
									return "";
						  })*/
						  .append("circle")
                          .attr("class", "node")
                          .attr("r", d=>d.weight*2+6)
                          .style("fill", (d,i)=>color[i%10])
                          .call(drag());

                var texts=svg.selectAll(".forceText")
                                 .data(nodes)
                                 .enter()
                                 .append("text")
                                 .attr("class","forceText")
                                 .attr("text-anchor","middle")
                                 .attr("stroke", "#336666")
                                 .attr("stroke-family","仿宋")
                                 .style("font-size","10px")
                                 //.attr("dx","-1.5em")
                                 .attr("dy","1.5em")
                                 .text(function(d){return d.name;});

                forceSimulation.on("tick", () => {
                    link
                        .attr("x1", d => d.source.x)
                        .attr("y1", d => d.source.y)
                        .attr("x2", d => d.target.x)
                        .attr("y2", d => d.target.y);

                    node
                        .attr("cx", d => d.x)
                        .attr("cy", d => d.y);
                    texts.attr("x",function(d){return d.x;});
			        texts.attr("y",function(d){return d.y;});
                });


                function drag(){

                      function dragstarted(event, d) {
                        if (!event.active) forceSimulation.alphaTarget(0.3).restart();
                        d.fx = d.x;
                        d.fy = d.y;
                      }

                      function dragged(event, d) {
                        d.fx = event.x;
                        d.fy = event.y;
                      }

                      function dragended(event, d) {
                        if (!event.active) forceSimulation.alphaTarget(0);
                        d.fx = null;
                        d.fy = null;
                      }

                      return d3.drag()
                          .on("start", dragstarted)
                          .on("drag", dragged)
                          .on("end", dragended);
                }// end drag()
            },//  end drawGraph()
            show(vocab) {
                this.show_vocab = true;
                this.vocab = vocab;
            },
            back() {
                this.show_vocab = false;
            },

            showLocal() {
                this.showLocalOptions = true;
                this.showVirtualField = false;
            },

            select() {
                console.log("selected localPath: " + this.localValue);
                this.userPath = this.localValue;
                this.transPath();
            },

            showVirtual() {
                this.showVirtualField = true;
                this.showLocalOptions = false;
            },
            confirm() {
                console.log("virtualPath: " + this.virtualValue);
                this.userPath = this.virtualValue;
                this.transPath();
            },

            transPath() {  // 发送路径给后端
                fetch("/userPath?new_path=" + this.userPath).then(res => {
                    if (res.ok) {
                        return res.json();
                    }
                    throw new Error("Network response was not ok.");
                })
                .catch(error => {
                    console.error("Error:", error);
                });
                console.log("yes!");
            },

        },//end methods;
        mounted() {
            axios.get("http://127.0.0.1:5006/module").then(res=>{
                //console.log(res.data);
                //console.log(res.data.nodes);
                this.drawGraph(res.data);
            });

            axios.get("http://localhost:5006/localPath")
                .then((response) => {
                    this.localPath = response.data.result;
                    console.log(this.localPath);
                })
                .catch((error) => {
                    console.error("An error occurred while fetching localPath:", error);
                    this.localPath = "An error occurred.";
                });
        },
    });
    app.use(vant);
    app.use(vant.Lazyload);
    app.mount('#app');
</script>
</body>
</html>