<!DOCTYPE html>
<html lang="en">
<head>
<!--    #3572A5-->
<!--    #28567C-->
<!--    #FFDF76-->
    <!-- Introducing Vant's stylesheets -->
    <link rel="stylesheet" href="/static/vant.min.css"/>
    <link rel="stylesheet" href="/static/prism.min.css"/>
    <script src="/static/prism.js"></script>
    <script src="/static/prism-python.js"></script>
    <!-- Introducing JS files for Vue and Vant -->
    <script src="/static/vue3.min.js"></script>
    <script src="/static/vant.min.js"></script>
    <script src="/static/axios.min.js"></script>
    <script src="static/d3.layout.cloud.js"></script>
    <!-- Introducing the drawing js file -->
    <script type="text/javascript" src="/static/components/drawNet.js"></script>
    <script type="text/javascript" src="/static/components/drawMatrix.js"></script>
    <script type="text/javascript" src="/static/components/drawTree.js"></script>
    <script type="text/javascript" src="/static/components/drawPineTree.js"></script>
    <script type="text/javascript" src="/static/components/drawRadialTree.js"></script>
    <script type="text/javascript" src="/static/components/drawBubble.js"></script>
    <script type="text/javascript" src="/static/components/drawCloud.js"></script>
    <script type="text/javascript" src="/static/components/drawTreeMap.js"></script>
    <script type="text/javascript" src="/static/components/showFile.js"></script>
    <!-- Use meta tags to set mobile display parameters and disable scaling -->
    <meta charset="UTF-8" name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0"/>
    <title>Python Libs Dependency Graph</title>
    <style>
        a{text-decoration:none}
        a:hover{color:blue,text-decoration:none}
        a:visited{color:black,text-decoration:none}
        a:link{color:black,text-decoration:none}
        a:active{color:black,text-decoration:none}
    </style>
    <style>
        :root{
        --topcolor:#3572A5;
        --leftsidecolor:#3572A5;
        --buttonbgcolor:#28567C;
        }
        .node {
          stroke-width: 1px;
          opacity: 0.7;
        }
        .node circle {
            cursor: pointer;
            stroke: orange;
            stroke-width: 1.5px;
        }

        .node text {
            font-size: 12px;
        }
        .link {
          stroke: #999;
          stroke-opacity: .7;
        }

        .table-style {
            width:100%;
            border-collapse: collapse;
        }

        .table-style th, .table-style td {
            border: 1px solid #000;
            padding: 8px;
        }
        .tooltip{
            position: absolute;
            width: 240px;
            height: auto;
            font-family: Consolas;
            font-size: 16px;
            text-align: left;
            color: black;
            border-width: 1px solid black;
            background-color: AED2FF;
            border-radius: 3px;
            z-index: 1000;
        }
        .tooltip:after{
            content: '';
            position: absolute;
            bottom: 100%;
            left: 20%;
            margin-left: -3px;
            width: 0;
            height: 0;
            border-bottom: 12px solid black;
            border-right: 12px solid transparent;
            border-left: 12px solid transparent;
        }
        .custom-navbar {
            height: 100%;
            background-color: var(--topcolor);
            font-size:20px!important;
            width:100%!important;
        }
        .custom-navbar .van-nav-bar__title {
            font-size:1em;
            display: flex;
            color:white;
            align-items: center;
            justify-content: center;
            height: 100%!important;
            width:100%;
        }
        .custom-navbar .van-nav-bar__content {
            height: 100%!important;
        }

        .van-hairline--surround{
            background-color:var(--leftsidecolor);
            display: flex;
            flex-direction: column;
            min-height: 90vh;
        }
        .flex-placeholder {
          display:flex;
          flex-direction: column;
          justify-content: space-between;
          height:90vh;
        }
        .van-dropdown-item
        {
            position:absolute;
            }
        .searchbox{
            border:1px solid var(--topcolor);
        }
        .searchbox .searchtext{
            width:100%;
            color:white;
           }
        .searchbox .van-haptics-feedback{
            background-color: var(--buttonbgcolor);
            border-radius: 3px;
            width:100%;
            color:white;
            font-size:12px;
        }
        .optionBox
        {

            }
        .filesearchbox
        {
            margin-top:auto;
        }
        .filesearchbox .van-haptics-feedback {
            background-color: var(--buttonbgcolor);
            border-radius: 3px;
            width:100%;
            color:white;
            font-size:12px;
            }
        .viewset .van-haptics-feedback{
            background-color:var(--buttonbgcolor);
            border:1px solid var(--topcolor);
            width:100%;
            color:white;
            font-size:12px;
        }
        .optionbox{
            background-color:var(--buttonbgcolor);
            border:1px solid var(--topcolor);
            width:99%;
            color:black;
            font-size:12px;
        }
        .nodeMessage{
            border:2px solid var(--buttonbgcolor);
            border-radius:4px;
            margin:20px 0px 0px 0px;
            background-color:white;
            width:200px;
            text-align:center;
        }
        .popup {
            position:absolute;
            top: 50%;
            left: 50%;
            height: 300px;
            width: 800px;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 10px;
            overflow-y: auto;
            border: 1px solid black;
            font-family: Consolas;
        }
        .tooltips{
            position: absolute;
            z-index: 25;
            color: black;
            font-size: 12px;
            background-color: white;
            opacity:1.0;
            stroke-width:0.5;
            border-radius: 10px;
        }
        .forceChontrol{
            color:white;
        }
        .van-search{
            width:100%;
        }
        .van-search__clear {
            display: none;
        }
        .van-search__action {
            display: none !important;
          }
        .van-icon-clear {
            display: none !important;
          }
        .image-container {
            height:10vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--topcolor);
          }
        .icon {
            width:5vh;
            height:5vh;
            font-size: 20px;

          }
        .pdf-iframe {
            position:absolute;
            top: 0vh;
            left:0vw;
        }
        .video-iframe{
            position:absolute;
            top: 0vh;
            left:0vw;
        }
    </style>
</head>
<body>

<script src="static/d3.v7.min.js"></script>
<div id="app">
    <!-- Top Navigation -->
    <van-row style="height:10vh">
        <van-col span="4">
            <van-nav-bar class="custom-navbar" title="PyVIS" @click="home()" style="cursor: pointer;"></van-nav-bar>
        </van-col>
        <van-col span="17">
            <van-nav-bar class="custom-navbar" title="Python Module Visualization"></van-nav-bar>
        </van-col>
        <van-col span="3">
<!--            <van-nav-bar class="custom-navbar" title="Flask+Vue3+D3V7"></van-nav-bar>-->
              <div class="image-container">
                <img src="/static/pic/flask-logo.png" class="icon">
                <img src="/static/pic/vue-logo.svg" class="icon">
                <img src="/static/pic/d3-logo.png" class="icon" style="margin-right: 20px;">
              </div>
        </van-col>
    </van-row>


    <van-row style="height:90vh">
        <van-col offset="0" span="4" class="van-hairline--surround">
            <div class="flex-placeholder">
                <!-- Left search bar -->
                <van-row>
                <van-col class="searchbox" style="width:80%">
                        <van-field placeholder="Input Module" v-model="keyword" left-icon="search"
                            @keyup.enter="search()" @click="changeOptionShow()">
                        </van-field>
                </van-col>
                <van-col class="searchbox" style="width:20%">
                    <van-dropdown-menu>
                    <van-dropdown-item v-model="keyword" :options="searchOptions" @change="search()" /></van-dropdown-menu>
                </van-col>
                    </van-row>
                <van-row class="searchbox">
                        <van-search :style="{ width: '60%' }" v-model="keyworddoc.moduledir" @search="searchdoc()" input-align="left" placeholder="Module Directory">
                            <view slot="action"></view>
                        </van-search>
                        <van-search :style="{ width: '40%' }" v-model="keyworddoc.classname" @search="searchdoc()" input-align="left" placeholder="Class Name" left-icon="">
                            <view slot="action"></view>
                        </van-search>
                </van-row>
                <van-row class="viewset" style="margin-top:5px;">
                    <van-col span="8">
                        <van-button class="van-haptics-feedback" @click="netvis()" type="primary">Net</van-button>
                    </van-col>
                    <van-col span="8">
                        <van-button class="van-haptics-feedback" @click="matrixvis()" type="primary">Matrix</van-button>
                    </van-col>
                    <van-col span="8">
                        <van-button class="van-haptics-feedback" @click="classvis()" type="primary">Class</van-button>
                    </van-col>
                    <van-col span="8">
                        <van-button class="van-haptics-feedback" @click="treevis()" type="primary">Tree</van-button>
                    </van-col>
                    <van-col span="8">
                        <van-button class="van-haptics-feedback" @click="pinetreevis()" type="primary">PineTree</van-button>
                    </van-col>
                    <van-col span="8">
                        <van-button class="van-haptics-feedback" @click="radialtreevis()" type="primary">RadialTree</van-button>
                    </van-col>
                    <van-col span="8">
                        <van-button class="van-haptics-feedback" @click="bubblevis()" type="primary">Bubble</van-button>
                    </van-col>
                    <van-col span="8">
                        <van-button class="van-haptics-feedback" @click="cloudvis()" type="primary">Cloud</van-button>
                    </van-col>
                    <van-col span="8">
                        <van-button class="van-haptics-feedback" @click="treemapvis()" type="primary">TreeMap</van-button>
                    </van-col>
                    <van-col span="12">
                        <van-button icon="down" class="van-haptics-feedback" @click="downloadPhoto()" type="primary">SVG
                        </van-button>
                    </van-col>
                    <van-col span="12">
                        <van-button icon="down" class="van-haptics-feedback" @click="downloadPhoto('png')" type="primary">
                            PNG
                        </van-button>
                    </van-col>
                </van-row>

                <!-- Image Control Area -->
                <div v-show="viewSelection === 'net'|| viewSelection === 'class' ">
                    <van-row class="nodeMessage">Totally {{netcount.node }} nodes</van-row>
                    <van-row class="nodeMessage">Totally {{netcount.link }} links</van-row>
                    <van-row style="margin-top:10px;font-size:12px">
                        <van-col span="24"><input type="radio" name="flush" id="flush" onclick="javascript:location.reload()">Repaint</input></van-col>
                        <van-col span="12"><input type="radio" name="radio" value="edgecount" id="radio1" checked @click="selectit()">Edge-Count</input></van-col>
                        <van-col span="12"><input type="radio" name="radio" value="equalr" id="radio2" @click="selectit()">Equal-Radius</input></van-col>
                        <van-col span="12"><input type="radio" name="radio" value="showclass" id="radio3" @click="selectit()">Show-Class</input></van-col>
                        <van-col span="12"><input type="radio" name="radio" value="showfunction" id="radio4" @click="selectit()">Show-Function</input></van-col>
                    </van-row>
                </div>

                <div v-show="viewSelection === 'net' || viewSelection === 'class'">
                    <van-row style="margin-top:10px;font-size:12px">Node Radius</van-row>
                    <van-row>
                        <input style="position:relative;top:3px;" type="range" id="nodescale" min="0.5" max="10" value="1">
                    </van-row>
                    <van-row style="margin-top:10px;font-size:12px">Edge Length</van-row>
                    <van-row>
                        <input style="position:relative;top:3px;" type="range" id="edgescale" min="50" max="500" value="150">
                    </van-row>
                    <van-row style="margin-top:10px;font-size:12px">Charge</van-row>
                    <van-row>
                        <input style="position:relative;top:3px;" type="range" id="chargescale" min="5" max="1000" value="600">
                    </van-row>
                    <div v-show="viewSelection === 'class' ">
                        <van-row>
                            <van-col span="24">
                                <input type="radio" name="radio" value="equalr" id="radio5" @click="selectit()">Equal-Radius</input>
                            </van-col>
                        </van-row>
                    </div>
                </div>

                <div v-show="viewSelection === 'pinetree'">
                    <van-row class="nodeMessage" style="margin-top:10px;">Totally {{ pinecount.node }} nodes</van-row>
                    <van-row style="margin-top:10px;margin-left: 5px;">Length</van-row>
                    <van-row>
                        <input style="position:relative;top:3px;margin-left: 5px;" type="range" id="lengthscale" min="30" max="1000" value="200">
                    </van-row>
                    <van-row style="margin-top:10px;margin-left: 5px;">Angel</van-row>
                    <van-row>
                        <input style="position:relative;top:3px;margin-left: 5px;" type="range" id="anglescale" min="Math.PI" max="Math.PI*2" value="0">
                    </van-row>
                     <van-row style="margin-top:10px;margin-left: 5px;">Rate</van-row>
                    <van-row>
                        <input style="position:relative;top:3px;margin-left: 5px;" type="range" id="ratescale" min="10" max="100" value="60">
                    </van-row>
                    <van-row style="margin-top:10px;">
                        <input type="checkbox" name="label" value="showOn" id="showLabel" checked>Label</input>
                    </van-row>
                    <van-row style="margin-top:10px">
                        <input type="radio" name="flush" id="flush1" onclick="javascript:location.reload()">Repaint</input>
                    </van-row>
                    <van-row style="margin-top:10px;">
                        <van-col span="12">
                            <input type="checkbox" name="label" value="showOn" id="showPdf3" >PDF</input>
                        </van-col>
                        <van-col span="12">
                            <input type="checkbox" name="label" value="showOn" id="showGit3" >GitHub</input>
                        </van-col>
                    </van-row>
                </div>

                <div v-show="viewSelection === 'radialtree'">
                    <van-row class="nodeMessage" style="margin-top:10px;">Totally {{ radialTreeCount.node }} nodes</van-row>
                    <van-row style="margin-top:10px;">
                        <van-col span="12">
                            <input type="checkbox" name="label" value="showOn" id="showPdf5" >PDF</input>
                        </van-col>
                        <van-col span="12">
                            <input type="checkbox" name="label" value="showOn" id="showGit5" >GitHub</input>
                        </van-col>
                    </van-row>
                    <van-row style="margin-top:10px">
                        <input type="radio" name="flush" id="flush2" onclick="javascript:location.reload()">Repaint</input>
                    </van-row>
                </div>

                <div v-show="viewSelection === 'treemap'">
                    <van-row class="nodeMessage" style="margin-top:10px;">Totally {{ mapcount.node }} nodes</van-row>
                    <van-row style="margin-top:10px;margin-left: 5px;">Zoom</van-row>
                    <van-row>
                        <input style="position:relative;top:3px;margin-left: 5px;" type="range" id="zoom" min="100" max="300" value="100">
                    </van-row>
                    <van-row style="margin-top:10px;margin-left: 5px;">Color </van-row>
                    <van-row>
                        <input style="position:relative;top:3px;margin-left: 5px;" type="range" id="color" min="0" max="30" step="1" value="0" onkeydown="handleKeyDown(event)" onkeypress="handleKeyPress(event)" oninput="updateColorValue(this.value)">
                        <span id="colorValue" style="margin-left: 10px;margin-top: 3px">0</span>
                    </van-row>
                    <van-row style="margin-top:10px;margin-left: 5px;">Layer</van-row>
                    <van-row>
                        <input style="position:relative;top:3px;margin-left: 5px;" type="range" id="layer" min="0" max="10" step="1" value="0" onkeydown="handleKeyDown(event)" onkeypress="handleKeyPress(event)" oninput="updateDepthValue(this.value)">
                        <span id="depthValue" style="margin-left: 10px;margin-top: 3px">0</span>
                    </van-row>
                    <van-row style="margin-top:10px">
                        <van-col span="12">
                            <van-checkbox v-model="checked" style="margin-left: 5px;" class="van-haptics-feedback" @click="changemap()" type="primary">Exchange</van-checkbox>
                        </van-col>
                        <van-col span="12">
                            <van-checkbox v-model="checked2" style="margin-left: 5px;" class="van-haptics-feedback" @click="changeraw()" type="primary">Raw</van-checkbox>
                        </van-col>
                    </van-row>
                    <van-row style="margin-top:10px;">
                        <van-col span="12">
                            <input type="checkbox" name="label" value="showOn" id="showPdf4" >PDF</input>
                        </van-col>
                        <van-col span="12">
                            <input type="checkbox" name="label" value="showOn" id="showGit4" >GitHub</input>
                        </van-col>
                    </van-row>
                </div>

                <div v-show="viewSelection === 'hicircle'">
                    <van-row style="margin-top:30px">
                        <input type="radio" name="flush" id="flush3" onclick="javascript:location.reload()">Repaint</input>
                    </van-row>
                </div>

                <div v-show="viewSelection === 'bubble'" >
                    <van-row class="nodeMessage">Totally {{ bubblecount.node }} nodes</van-row>
                    <van-row style="margin-top:30px;">
                        <van-col span="12">
                            <input type="checkbox" name="label" value="showOn" id="showPdf1" >PDF</input>
                        </van-col>
                        <van-col span="12">
                            <input type="checkbox" name="label" value="showOn" id="showGit1" >GitHub</input>
                        </van-col>
                    </van-row>
                </div>

                 <div v-show="viewSelection === 'cloud'" >
                     <van-row class="nodeMessage">Totally {{cloudcount.node }} nodes</van-row>
                     <van-row style="margin-top:30px;">
                         <van-col span="12">
                             <input type="checkbox" name="label" value="showOn" id="showPdf2" >PDF</input>
                         </van-col>
                         <van-col span="12">
                             <input type="checkbox" name="label" value="showOn" id="showGit2" >GitHub</input>
                         </van-col>
                    </van-row>
                </div>

                <div v-show="viewSelection === 'tree'">
                    <div style="margin-top: 30px;">
                        <van-row class="nodeMessage">Totally {{ treecount.treeNodeCount }} nodes</van-row>
                        <van-row class="nodeMessage">Show {{ treecount.treeShowNodeCount }} nodes</van-row>
                    </div>
                </div>

                <div style="display: flex; flex-direction: column;" class="filesearchbox">
                    <van-row >
                        <van-col offset="0" span="16">
                            <van-field v-model="singleModule" placeholder="Single Module Name"></van-field>
                        </van-col>
                        <van-col span="8">
                            <van-button class="van-haptics-feedback" @click="searchSingle()">ExtractSingle</van-button>
                        </van-col>
                    </van-row>
                    <van-row>
                        <van-col offset="0" span="16">
                            <van-field v-model="localValue" readonly></van-field>
                        </van-col>
                        <van-col span="8">
                            <van-button class="van-haptics-feedback" @click="select()"
                                        :loading="isLoading" loading-text="loading...">ExtractAll</van-button>
                        </van-col>
                    </van-row>
                    <van-row>
                        <van-col offset="0" span="12">
                            <van-button class="van-haptics-feedback" @click="showPDF()">HELP</van-button>
                        </van-col>
                        <van-col span="12">
                            <van-button class="van-haptics-feedback" @click="showVideo()">VIDEO</van-button>
                        </van-col>
                    </van-row>
                </div>

            </div>
        </van-col>

        <van-col class="graphpart" span="20">
            <div id="svgbox">
                <svg id="graph" width="100%" height="100%"></svg>
            </div>
            <id id="svgdataurl" style="display: none;"></id>
            <canvas style="display:none"></canvas>
        </van-col>
    </van-row>
</div>

<script>
    function updateColorValue(value) {
            document.getElementById('colorValue').innerText = value;
    }
    function updateDepthValue(value) {
            document.getElementById('depthValue').innerText = value;
    }
    function handleKeyDown(event) {
        // 获取当前值
        currentValue = parseInt(event.target.value);
    }
    function handleKeyPress(event) {
        var inputElement = document.getElementById('color');

        // 根据按下的键更新值
        switch (event.key) {
            case 'ArrowLeft':
                // 左箭头键
                inputElement.value = Math.max(currentValue - 1, parseInt(inputElement.min));
                break;
            case 'ArrowRight':
                // 右箭头键
                inputElement.value = Math.min(currentValue + 1, parseInt(inputElement.max));
                break;
        }

        currentValue = parseInt(inputElement.value);
    }
</script>
<script>
    var width=(window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth)*0.95;
    var height=(window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight)*0.92;
    var color = d3.schemeCategory10;
    const app = Vue.createApp({
        data() {
            return {
                viewSelection:"tree",
                nodes:'',
                links:'',
                keyword:'',
                keyworddoc:{classname:'',moduledir:''},
                isLoading: false,
                localValue: '',
                singleModule: '',
                flag: false,
                pdf: false,
                checked: false,
                checked2: true,
                treecount: {
                  treeNodeCount: 0,
                  treeShowNodeCount: 0,
                },
                bubblecount: {
                    node:0
                },
                cloudcount:{
                    node:0
                },
                pinecount:{
                    node:0
                },
                mapcount:{
                    node:0
                },
                netcount: {
                    node: 0,
                    link: 0,
                },
                radialTreeCount:{
                    node:0
                },
                allRootsArrayLength: {
                    length: 0,
                },
                raw:true,
                allRootsArrayLength:'',
                showOption:false,
                searchOptions:[],
            };
        },
        methods: {
            home() {
                this.keyword = "";
                this.netvis();
            },
            clearPage() {
                d3.select('svg').selectAll('*').remove();
                var tooltip = document.getElementById("tip");
                if (tooltip) {
                    tooltip.parentNode.removeChild(tooltip);
                }
                var tooltip = document.getElementById("tiptree");
                if (tooltip) {
                    tooltip.parentNode.removeChild(tooltip);
                }
                var piframe = document.getElementsByClassName("pdf-iframe")[0]
                if (piframe) {
                    console.log('213',piframe);
                    piframe.parentNode.removeChild(piframe);
                }
                var viframe = document.getElementsByClassName("video-iframe")[0]
                if (viframe) {
                    viframe.parentNode.removeChild(viframe);
                }
            },

            search(key) {
                this.clearPage();
                switch (this.viewSelection) {
                    case "net":
                        if (typeof(key) != "undefined") {
                            this.keyword=key;
                        }
                        this.netvis();
                        break;
                    case "matrix":
                        this.matrixvis();
                        break;
                    case "class":
                        this.classvis();
                        break;
                    case "tree":
                        this.treevis();
                        break;
                    case "pinetree":
                        this.pinetreevis();
                        break;
                    case "radialtree":
                        this.radialtreevis();
                        break;
                    case "bubble":
                        this.bubblevis();
                        break;
                    case "cloud":
                        if (typeof(key) != "undefined") {
                            this.keyword=key;
                        }
                        this.cloudvis();
                        break;
                    case "treemap":
                        this.treemapvis();
                        break;
                    default:
                        break;
                }
            },
            searchdoc()
            {
                showFile(this.keyworddoc);
            },
            changeOptionShow()
            {
                this.showOption=!this.showOption;
                console.log(this.showOption);
                },
            onOptionChange()
            {

            },
            netvis() {
                var that = this;
                this.clearPage();
                this.viewSelection="net";
                axios.get("http://127.0.0.1:5006/module?wanted=" + this.keyword).then(res=>{
                    onDrawNetReady(res.data, this.keyword,this.search,this.netcount,this.keyworddoc,0,showFile);
                    if(this.keyword=='')
                    {
                        this.searchOptions = res.data.nodes.map((node, index) => {
                              return {
                                text: node.name,
                                value: node.name
                              };
                            });
                        this.showOption=false;
                        console.log(this.searchOptions);
                    }
                })
                .catch(error=>
                {
                 console.error("error fetching",error);
                });
            },
            matrixvis() {
                var that = this;
                this.clearPage();
                this.viewSelection="matrix";
                axios.get("http://127.0.0.1:5006/module?wanted=" + this.keyword).then(res=>{
                    onDrawMatrixReady(res.data,this.keyworddoc,showFile);
                });
            },
            classvis() {
                var that = this;
                this.clearPage();
                this.viewSelection="class";
                if (this.keyword == "" || this.keyword == "undefined" || this.keyword == "None")
                    this.keyword = "flask"
                axios.get("http://127.0.0.1:5006/module?wanted=" + this.keyword + "class").then(res=>{
                    onDrawNetReady(res.data, this.keyword,this.search,this.netcount,this.keyworddoc,1,showFile);
                });
            },
            treevis() {
                var that = this;
                this.clearPage();
                this.viewSelection="tree";
                axios.get("http://127.0.0.1:5006/treevis?wanted=" + this.keyword).then(res=>{
                    onDrawTreeReady(res.data,this.treecount,this.keyworddoc,showFile);
                });
            },
            pinetreevis() {
                this.clearPage();
                var that = this;
                this.viewSelection="pinetree";
                axios.get("http://127.0.0.1:5006/treevis?wanted=" + this.keyword).then(res=>{
                    onDrawPineTreeReady(res.data,this.pinecount,this.keyworddoc,showFile);
                });
            },
            radialtreevis() {
                this.clearPage();
                var that = this;
                this.viewSelection="radialtree";
                axios.get("http://127.0.0.1:5006/treevis?wanted=" + this.keyword).then(res=>{
                    onDrawRadialTreeReady(res.data, this.radialTreeCount,this.keyworddoc,showFile);
                });
            },
            bubblevis() {
                var that = this;
                this.clearPage();
                this.viewSelection="bubble";
                axios.get("http://127.0.0.1:5006/treevis?wanted=" + this.keyword).then(res=>{
                    onDrawBubbleReady(res.data,this.bubblecount,this.keyworddoc,showFile);
                });
            },
            cloudvis() {
                var that = this;
                this.clearPage();
                this.viewSelection="cloud";
                axios.get("http://127.0.0.1:5006/treevis?wanted=" + this.keyword).then(res=>{
                    onDrawCloudReady(res.data,this.search,this.cloudcount,this.keyworddoc,showFile);
                });
            },
            treemapvis() {
                this.clearPage();
                var that = this;
                this.viewSelection="treemap";
                axios.get("http://127.0.0.1:5006/treevis?wanted=" + this.keyword).then(res=>{
                    onDrawTreeMapReady(res.data,this.flag,this.pdf,this.mapcount,this.allRootsArrayLength,this.keyworddoc,this.raw,showFile);
                });
            },

            selectit(){
                var obj;
                obj=document.getElementsByName("radio");
                for(i=0;i<obj.length;i++){
                    if (obj[i].checked){
                        onNetfunction(obj[i].value);
                    }
                }
                return null;
            },
            changemap() {
                this.flag = !this.flag;
                this.treemapvis();
            },
            changeraw() {
                this.raw= !this.raw;
                this.treemapvis();
            },
            viewpdf() {
                this.pdf = !this.pdf;
                this.treemapvis();
            },

            downloadPhoto(form = "svg") {
                // Export the most basic svg
                var html = d3.select("svg")
                             .attr("version", 1.1)
                             .attr("xmlns", "http://www.w3.org/2000/svg")
                             .node().parentNode.innerHTML;
                var imgsrc = 'data:image/svg+xml;base64,' + window.btoa(unescape(encodeURIComponent(html)));
                // Creating a base-64 encoded ASCII string from the String object,
                // where each character in the string is treated as a binary data byte.
                var image = new Image;
                image.src = imgsrc;
                var self = this;
                if (form === "png") {
                    var svg = d3.select("#svgbox").node()
                    var img = '<img src="' + imgsrc + '">';
                    d3.select("#svgdataurl").html(img);
                    var boxWidth = svg.offsetWidth
                    var boxHeight = svg.offsetHeight
                    var canvas = document.querySelector("canvas");
                    var context = canvas.getContext("2d");
                    canvas.height = boxHeight;  // Empty canvas when canvas height changes
                    canvas.width = boxWidth;
                    image.onload = function () {
                        context.drawImage(image, 0, 0);
                        var canvasdata = canvas.toDataURL("image/png");
                        var pngimg = '<img src="' + canvasdata + '">';
                        d3.select("#pngdataurl").html(pngimg);
                        var photo = document.createElement("a");
                        photo.download =self.viewSelection+".png";
                        photo.href = canvasdata;
                        document.body.appendChild(photo);
                        photo.click();
                    }
                } else {
                    var photo = document.createElement("a");
                    photo.download =self.viewSelection+".svg";
                    photo.href = imgsrc;
                    document.body.appendChild(photo);
                    photo.click();
                }
            },

            select() {
                const message = 'Confirm reloading folder data?';

                if (window.confirm(message)) {
                    this.isLoading = true;
                    fetch("/userPath").then(res => {
                        if (res.ok) {
                            this.isLoading = false;
                            return res.json();
                        }
                        throw new Error("Network response was not ok.");
                    })
                    .then(data => {
                        this.netvis();
                    })
                    .catch(error => {
                        this.isLoading = false;
                        console.error("Error:", error);
                    });
                } else {
                    console.log('cancel');
                }
            },
            searchSingle() {
                var that = this;
                this.singleModule = this.singleModule.split(".")[0]
                fetch("/single?wanted=" + this.singleModule).then(res => {
                        if (res.ok) {
                            return res.json();
                        }
                        throw new Error("Network response was not ok.");
                    })
                    .then(data => {
                        this.keyword = this.singleModule;
                        this.netvis();
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
            },

            async showPDF() {
                this.clearPage();
                try {
                    const response = await axios.get('http://127.0.0.1:5006/guide', { responseType: 'arraybuffer' });
                    const blob = new Blob([response.data], { type: 'application/pdf' });

                    const iframe = document.createElement('iframe');
                    iframe.classList.add('pdf-iframe');
                    iframe.src = URL.createObjectURL(blob);
                    iframe.width = width * 0.85;
                    iframe.height = height;

                    const graphpartCanvas = document.querySelector('.graphpart');
                    graphpartCanvas.style.position = 'relative';
                    graphpartCanvas.appendChild(iframe);
                } catch (error) {
                    console.error('Error fetching PDF:', error);
                }
            },
            async showVideo() {
                this.clearPage();
                try {
                    const response = await axios.get('http://127.0.0.1:5006/video', { responseType: 'arraybuffer' });
                    const blob = new Blob([response.data], { type: 'video/mp4' });
                    const video = document.createElement('video');
                    video.classList.add('video-iframe');
                    video.src = URL.createObjectURL(blob);
                    video.width = width * 0.85;
                    video.height = height;
                    video.controls = true;

                    const graphpartCanvas = document.querySelector('.graphpart');
                    graphpartCanvas.style.position = 'relative';
                    graphpartCanvas.appendChild(video);

                    video.play();
                } catch (error) {
                    console.error('Error fetching video:', error);
                }
            },
        },

        mounted() {
            axios.get("http://127.0.0.1:5006/localPath")
                .then((response) => {
                    this.localValue = response.data.result[0];
                })
                .catch((error) => {
                    console.error("An error occurred while fetching localValue:", error);
                    this.localValue = "An error occurred.";
                });
            this.home();
        },
    });

    app.use(vant);
    app.use(vant.Lazyload);
    app.mount('#app');
</script>
</body>
</html>
