<html lang="zh">
<head>
    <!-- 引入 Vant 的样式表 -->
    <link rel="stylesheet" href="/static/vant.min.css" />

    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="/static/vue3.min.js"></script>
    <script src="/static/vant.min.js"></script>

    <!-- 使用 meta 标签设置移动端的显示参数，禁止缩放 -->
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" />

    <!-- 小程序标题 -->
    <title>背单词小程序</title>
</head>

<body>
<!-- 小程序的根容器 -->
<div id="app">
    <!-- 顶部导航栏，使用 fixed 属性固定顶部 -->
    <van-nav-bar v-if="!show_vocab" title="我爱背单词" :fixed="true"></van-nav-bar>
    <van-nav-bar v-else :title="'单词 ' + vocab" :fixed="true" :left-arrow="true" @click-left="back()"></van-nav-bar>

    <!-- 搜索页面 -->
    <div v-if="!show_vocab">
        <van-row>
            <van-col span="12" offset="4">
                <van-field v-model="keyword" :clearable="true" placeholder="关键词"></van-field>
            </van-col>
            <van-col span="4">
                <van-button type="primary" @click="search()">搜索</van-button>
            </van-col>
        </van-row>

        <van-row>
            <van-col span="24">
                <van-cell-group inset>
                    <van-cell v-for="item in result" :title="item[1]" :value="item[2]" :label="item[3]"
                              :clickable="true" @click="show(item[1])">
                    </van-cell>
                    <van-back-top></van-back-top>
                </van-cell-group>
            </van-col>
        </van-row>
    </div>

    <!-- 单词展示页面 -->
    <div v-else>
        <van-row>
            <van-col span="24">
                {{ vocab }}
            </van-col>
        </van-row>
    </div>
</div>

<script>
    const app = Vue.createApp({
        data() {
            return {
                keyword: '',
                result: [],
                show_vocab: false,
                vocab: ''
            };
        },
        methods: {
            search() {
                var that = this;
                fetch("/mobile?wanted=" + this.keyword)
                    .then(function(resp) {
                        if (resp.ok) return resp.json();
                        else throw new Error('网络错误');
                    })
                    .then(function(data) {
                        console.log(data["result"]);
                        that.result = data["result"];
                    })
                    .catch(function (error) {
                        that.result = [];
                    });
            },
            show(vocab) {
                this.show_vocab = true;
                this.vocab = vocab;
            },
            back() {
                this.show_vocab = false;
            }
        }
    });
    app.use(vant);
    app.use(vant.Lazyload);
    app.mount('#app');
</script>
<style>
    #app {
        margin-top: 50px;
        margin-left:100px;
        margin-right:100px;
    }
</style>
</body>
</html>